# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Compiled extensions
*.so
*.dylib

# Cython generated
pysollya/_pysollya.c

# Python
__pycache__/
*.pyc

# Virtual environments
pysollya_venv/
.venv/
